<div class="footer">
    &copy; Paula Fangueiro 2025 . Todos os direitos reservados.
    <div class="footer-icons">
        <a href="https://www.instagram.com" target="_blank" class="icon" title="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="icon" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/P0rtAh" target="_blank" class="icon" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://open.spotify.com/user/jz2g2n8djjcmmutssj2esq6lg?si=fkZhSTAzSCmc-jo2tXYcNg" target="_blank"
            class="icon" title="Spotify">
            <i class="fab fa-spotify"></i>
        </a>ß
    </div>
</div>